@font-face {
    font-family: "Gilroy ExtraBold";
    src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: "Gilroy Light";
    src: url("../fonts/Gilroy-Light.otf") format("opentype");
}

@font-face {
    font-family: "Handcraft";
    src: url("../fonts/handcraft.ttf") format("truetype");
}


.grey-5 {
    background-color: #262626;
}

.grey-4 {
    background-color: #333333;
}

.grey-3 {
    background-color: #404040;
}

.grey-2 {
    background-color: #4d4d4d;
}

.grey-1 {
    background-color: #808080;
}

.grey {
    background-color: #595959;
}

.nav {
    height: 2vh;
    background-color: #111;
    box-shadow: 0 0 20px 0 black;
}

.bg-black {
    background-color: black;
}

#top-logo {
    margin: 0 auto;
}

.block {
    margin: 8vh auto;
    color: white;
    text-align: center;
    transition-duration: 300ms;
}

.block2 {
    margin: 12vh auto;
    color: white;
    text-align: center;
    transition-duration: 300ms;
}


.block1 {
    width: 70vw;
    margin: 10vw 15vw;
    color: white;
    text-align: center;
    height: auto;
    transition-duration: 300ms;
}

.block2{
    margin-top: 30vw;
    padding: 30vw auto;
    color: white;
    text-align: center;
}

.square {
    margin: 2vw;
    padding: 2vw;
    border: 2px solid #ffdc35;
}

.round {

    margin: 10px;
    padding: 10px;
    width: 10em;
    height: 10em;
    border: solid 5px #ffdc35;
    border-radius: 10em;
    transition-duration: 300ms;
}

.round {
    transition-duration: 300ms;
    width: 11em;
    height: 11em;
}

.round-image {
    width: 17vw;
    margin: 1vw;
    border: solid 2px #ffdc35;
    border-radius: 50%;
}

.text {
    margin: 2vh auto;
    padding: 2vh;
    border: 2px solid #ffdc35;
}

.number {
    font-size: 4vw;
    font-family: "Gilroy ExtraBold", serif;
}

.header {
    padding: 3vw;
    font-size: 4vw;
    font-family: "Gilroy ExtraBold", serif;
}
.with-comment{
    padding: 1vw;
    margin: 1vw;
}

.header-sm {
    font-size: 2.5vw;
    font-family: "Gilroy ExtraBold", serif;
}

.header-xsm {
    font-size: 2vw;
    font-family: "Gilroy Light", serif;
}

input[type="text"] {
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    margin: 1em 6em;
    transition-duration: 300ms;
}

input[type="text"]:focus {
    background: transparent;
    border: none;
    padding: 0.5em;
    outline: 0;
    border-bottom: 1px solid black;
    transition-duration: 300ms;
}

.form {
    border: 1px solid black;
    padding: 2vw;
    margin: 8vh auto;
    color: black;
    background-color: white;
    text-align: center;
    font-family: "Gilroy Light", serif;

}

.form-outline {
    margin: 2em;
}

.form-button {
    transition-duration: 300ms;
    display: block;
    margin: 0 auto;
    background: transparent;
    border: 1px solid black;
    color: black;
    font-family: "Gilroy ExtraBold", serif;
    padding: 10px 40px;
}

.form-button:hover {
    transition-duration: 300ms;
    padding: 20px 50px;
    background: #909090;
}

.footer {
    padding: 1vw;
    text-align: center;
    height: 20vh;
    color: white;
    margin: 0 auto;
}

.footer-header {
    text-align: center;
    font-family: "Gilroy ExtraBold", serif;
    font-size: 1.5em;
}

.round-social {
    width: 4vw;
    height: 4vw;
    padding: 1vh;
    margin: 0 auto;
    display: inline-block;
    border-radius: 50%;
    background-color: grey;
    transition-duration: 300ms;
}

.round-social:hover {
    width: 4.5vw;
    height: 4.5vw;
    transition-duration: 300ms;
}

.text-logo {
    font-size: 6vw;
}

.text-logo2 {
    font-family: "Gilroy Light", serif;
    font-size: 2vw;
    padding-bottom: 1vw;
    border-bottom: 2px solid #ffdc35;
}

.text-logo-article {
    margin: 1vw auto;
    padding-bottom: 1.5vw;
    width: 60%;
    font-size: 1.5em;
    font-family: "Helvetica Neue", serif ;
}

.background {
    background-attachment: fixed;
    background-color: #262626;
    background-image: url("../img/pattern.svg");
    background-size: 8%;
    opacity: 30;
}
.background-solomon{
    background-attachment: fixed;
    background-image: url("../img/sc.svg");
    background-color: #262626;
    background-size: 100vw;
    opacity: 30;
}

.f {
    margin: 0 auto;
    padding: 2vw;
    background-size: 70vw;
    width: 70vw;
    height: 40vw;
    transition-duration: 300ms;
    background-clip: border-box;
    background-position: 0vw 0vw;
}

.f:hover {
    transition-duration: 300ms;
    background-size: 80vw;
    background-position: -4vw -4vw;
}
.feedback{
    margin: 5vw auto;
    padding: 5vw;
    width: 70vw;
    border: 2px #ffdc35 dotted;

}
.feedback-text{
    font-family: "Gilroy Light";
    font-size: 2em;
}
.feedback-author{
    font-family: "Gilroy ExtraBold", serif;
    font-size: 1.1em;
}
.counts {
    margin: 10vw auto;
    width: 70vw;
}

.f-back {
    color: #ffdc35;
    margin: 2vw auto;
    padding: 2vw;
    border: 2px dotted #ffdc35;
    background-color: rgba(0, 0, 0, 0.7);
    height: 80%;
    width: 40%;

}

.G-bold {
    font-family: "Gilroy ExtraBold", serif;
    font-size: 2.5vw;
}

.G-light {
    font-family: "Gilroy Light", serif;
    color: white;
    font-size: 1.5vw;
}

.links {
    margin: 2vw;
}

.link {
    margin: 0.5vw;
    border: 1px solid #ffdc35;
    border-radius: 10px;
}

.link:hover {
    background-color: rgba(255, 220, 53, 0.22)
}

.video {
    margin: 0 14.3vw;
    width: 70vw;
    height: 50vw;
    border: 2px dotted #ffdc35;
}

.btn-sol {
    color: #ffdc35;
    background-color: transparent;
    border: 1px solid #ffdc35;
    margin: 5px;
    font-family: "Gilroy ExtraBold";
}

.btn-soll {
    color: aliceblue;
    background-color: transparent;
    border: 1px solid rgba(255, 220, 53, 0.77);
    margin: 5px;
}
.btn-soll:hover {
    color: #ffdc35;
    background-color: rgba(255, 220, 53, 0.22);
}

.btn-sol:hover {
    background-color: rgba(255, 220, 53, 0.22);
}

.solomon-button {
    color: #ffdc35;
    text-decoration-color: #ffdc35;
    border: 1px solid #ffdc35;
    background-color: transparent;
    text-decoration: none;
}

.solomon-button:hover {
    background-color: transparent;
    background-color: rgba(255, 220, 53, 0.22);
    text-decoration: none;

}
a{
     text-decoration: none;
}
a:hover{
     text-decoration: none;
}
.block-feedback{
    border: 2px solid #ffdc35;
    background-color: transparent;
}
.social-media{
    width: 100px;
}
.navigation{
    background-color: rgb(19, 19, 19);
    width: 100vw;
    position: fixed;
    top: 5.3em;
    padding: 1em;
    float: left;
    z-index: 3;
    font-family: "Gilroy ExtraBold";
}
