{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <meta name="keywords"
          content="Кейтеринг, Фуршет, Кофе-брейк, Обеды на заказ, Кейтеринг в Бишкеке, Фуршет в Бишкеке, Кофе-брейк в Бишкеке, Кейтеринг Бишкек, Фуршет Бишкек, Кофе-Брейк Бишкек, Канапе на заказ, Канапе на заказ Бишкек, Еда на заказ Бишкек, Еда доставка Бишкек, Фуршеты в Бишкеке, Кофе-брейки в Бишкеке, Кофе брейки в Бишкеке, Выездное обслуживание, кейтеринг, банкет, фуршет, кофе - брейк, канапе, горячие блюда, пикник, меню, кампания, общественное питание, оказание услуг, корпоративы, свадьба, юбилей, выпускной бал, холодные закуски, горячие закуски, переговоры, конференции, семинары, ресторан на выезд, коктейли, мини закуски, тушоо-той, салтанат, майрам, куда-тосуу, кыз узатту, той ">
    <meta name="description"
          content="Кейтеринг, Фуршет, Кофе-брейк, Обеды на заказ, Кейтеринг в Бишкеке, Фуршет в Бишкеке, Кофе-брейк в Бишкеке, Кейтеринг Бишкек, Фуршет Бишкек, Кофе-Брейк Бишкек, Канапе на заказ, Канапе на заказ Бишкек, Еда на заказ Бишкек, Еда доставка Бишкек, Фуршеты в Бишкеке, Кофе-брейки в Бишкеке, Кофе брейки в Бишкеке, Выездное обслуживание, кейтеринг, банкет, фуршет, кофе - брейк, канапе, горячие блюда, пикник, меню, кампания, общественное питание, оказание услуг, корпоративы, свадьба, юбилей, выпускной бал, холодные закуски, горячие закуски, переговоры, конференции, семинары, ресторан на выезд, коктейли, мини закуски, тушоо-той, салтанат, майрам, куда-тосуу, кыз узатту, той ">

    <title>Solomon Catering - делаем с любовью!</title>

    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="grey-5 background-solomon">

<nav class="navbar fixed-top bg-black">

    <a id="top-logo" href="{% url 'home' %}">
        <img src="{% static 'img/top_logo.png' %}">
    </a>
    <div class="btn-group-sm" role="group" aria-label="...">
        <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input name="language" type="submit" class="btn btn-sol" value="ru"/>
            <input name="language" type="submit" class="btn btn-sol" value="en"/>
        </form>
    </div>
</nav>
<div class="navigation">
    <div class="float-right">
        <a class="btn btn-soll block " href="#">{% trans 'О НАС' %}</a>
        <a class="btn btn-soll block " href="#kinds">{% trans 'УСЛУГИ' %}</a>
        <a class="btn btn-soll block " href="#format">{% trans 'ФОРМАТ' %}</a>
        <a class="btn btn-soll block " href="#feedbacks">{% trans 'ОТЗЫВЫ' %}</a>
        <a class="btn btn-soll block " href="#contacts">{% trans 'КОНТАКТЫ' %}</a>

    </div>
</div>
{% block content %}


{% endblock %}
<div class="container-fluid ">
    <footer class="footer">
        <div class="header-sm">{% trans 'Наши контакты:' %}</div>
        <div class="header-xsm">{% trans 'г.Бишкек ул. Жибек-Жолу 346' %}</div>
        <div class="header-xsm">0706 655 631</div>
        <div class="header-xsm">0557 655 631</div>

        <div class="list-inline links">
            <div class="link list-inline-item">
                <a href="https://www.facebook.com/solomon.catering"><img class="social-media"
                                                                         src="{% static 'img/logos/fb-logo.png' %}"></a>
            </div>
            <div class="link list-inline-item">
                <a href="https://www.instagram.com/solomon.catering"><img class="social-media"
                                                                          src="{% static 'img/logos/insta-logo.png' %}"></a>
            </div>
            <div class="link list-inline-item">
                <a href="https://www.youtube.com/channel/UCqR-N9C2LwqsryKxLG1cmDQ"><img class="social-media"
                                                                                        src="{% static 'img/logos/yt-logo.png' %}"></a>
            </div>

        </div>
    </footer>
</div>
</body>
</html>