{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Solomon Catering</title>

    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="grey-5 background">

<nav class="navbar  fixed-top bg-black">
    <a id="top-logo"  href="{% url 'home' %}">
        <img  src="{% static 'img/top_logo.png' %}">
    </a>
    <div class="btn-group-sm" role="group" aria-label="...">
        <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input name="language" type="submit" class="btn btn-sol" value="ru"/>
            <input name="language" type="submit" class="btn btn-sol" value="en"/>
        </form>
    </div>
</nav>
{% block content %}


{% endblock %}
<div class="container-fluid ">
    <footer class="footer">
        <div class="footer-header">{% trans 'Наши контакты:' %}</div>
        <div class="header-xsm">{% trans 'г.Бишкек ул. Абдрахманова 29' %}</div>
        <div class="header-xsm">{% trans '0773 28 38 28' %}</div>

        <div class="list-inline links">
            <div class="link list-inline-item">
                <a href="https://www.facebook.com/solomon.catering"><img
                        src="{% static 'img/logos/fb-logo.png' %}" width="40vw"></a>
            </div>
            <div class="link list-inline-item">
                <a href="https://www.instagram.com/solomon.catering"><img
                        src="{% static 'img/logos/insta-logo.png' %}" width="40vw"></a>
            </div>
            <div class="link list-inline-item">
                <a href="https://www.youtube.com/channel/UCqR-N9C2LwqsryKxLG1cmDQ"><img
                        src="{% static 'img/logos/yt-logo.png' %}" width="40vw"></a>
            </div>

        </div>
    </footer>
</div>
</div>
</body>
</html>