{% extends 'system/base.html' %}
{% load static %}
{% load i18n %}
{% block  content %}
    <div class="block1 block-feedback">
        <div class="header">
            {% if status %}
                <p>{% trans 'Спасибо за вашу заявку, ' %} {{ name }}</p>
                <p class="header-sm">{% trans 'Мы обязательно свяжемся с Вами!' %}</p>
            {% else %}
                <p class="header-sm">{% trans 'Произошла ошибка, пожалуйста заполните форму еще раз' %}</p>
            {% endif %}
            <a href="{% url 'home' %}">
                <button class="form-button solomon-button G-bold">{% trans 'НА ГЛАВНУЮ' %}</button>
            </a>
        </div>
    </div>
{% endblock %}